@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.form_wrapper {
    padding: 1rem;
    
    h2 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0 0 1rem 0;
        border-bottom: 2px solid black;
        padding: 0 0 0 1rem;
        @include desktop {
            padding: 0;
        }
    }
}

.grid_wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @include desktop {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    gap: 2.25rem;
    @include desktop {
        margin: 1rem 0;
    }
    margin: 4rem 0;
    padding: 0 1rem;
    @include desktop {
        padding: 0;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.product_wrapper {
    display: flex;
    flex-direction: column;
}

.title_header {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0 0 1rem 0;
}

.description {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    line-height: 1.5rem;
    height: 10rem;
 }

 .title {
     font-size: 1.5rem;
     line-height: 2rem;
     font-weight: 400;
     margin: 0 0 1rem 0;
 }

.sizes_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 3.75rem;
        height: 4.75rem;

        .box {
            width: 3.65rem;
            height: 3.65rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0.5px solid black;
            font-size: 0.8125rem;
         }
    }

    input {
        width: 3rem;
        height: 3rem;
        padding: 0.25rem;
        text-align: center;
    }
}

.input_wrapper {
    display: flex;
    flex-direction: column;

    span {
        margin: 0.5rem 0 0 0;
        text-align: right;
        font-size: 0.7rem;
    }

    input {
        padding: 0.5rem;
    }
}

.icon_wrapper {
    display: flex;

    svg {
        margin: 0 0 0 0.5rem;
        cursor: pointer;
        @include hoverAnimation;

        &:hover {
            transform: scale(1.06);
            color: $violet;
        }
    }
}

.changed, .enabled {
    color: $violet;
}

.textarea {
    resize: none;
    padding: 0.25rem;
    height: 9.375rem;
}

.product_price {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;

    input {
        width: 25%;
        padding: 0.25rem;
    }
}

.edit_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px solid black;
    padding: 1.25rem;
    margin: 0 1.25rem 0 0;
    cursor: pointer;
    @include hoverAnimation;

    &:disabled {
        opacity: 0.4;
    }

    &:hover {
        background-color: $secondary-bg-color;
    }
}