@import '../../styles/mixins.scss';

.container_center {
    height: 100vh;
    @include desktop {
        height: 50vh;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
        margin: 0 0 1rem 0;
    }

    .title {
        margin: 0 0 1rem 0;
        font-weight: 500;
        font-size: 1.1rem;
    }

    .subtitle {
        font-weight: 300;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
        margin: 0 0 1rem 0;
    }

    .title {
        margin: 0 0 1rem 0;
        font-weight: 500;
        font-size: 1.1rem;
    }

    .subtitle {
        font-weight: 300;
    }
}

.container_center_rest_page {
    @include desktop {
        width: 100%;
    }
}

.container_center_product_page {
    @include desktop {
        width: calc(100% + 15.625rem);
    }
}