$primary-bg-color: rgb(209,213,219);
$secondary-bg-color: rgb(229 231 235);
$primary-text-color: rgb(75,85,99);
$secondary-text-color: rgb(209 213 219);
$third-tex-color: rgb(75 85 99);
$auth_btn_hover: rgba(148, 163, 184, 0.579);
$bg_container: rgb(243 244 246);
$success: rgb(34 197 94);
$error: rgb(239 68 68);
$orange: rgb(249 115 22);
$gray: rgb(107 114 128);
$violet: rgb(139 92 246);