@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.form_wrapper {
    padding: 1rem;
    
    h2 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0 0 1rem 0;
        border-bottom: 2px solid black;
        padding: 0 0 0 1rem;
        @include desktop {
            padding: 0;
        }
    }
}

.input_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    div {
        margin: 0.5rem 0
    }

    input {
        padding: 0.3rem;
        outline: none;
    }
}

.input_password {
    border: none;
    width: 100%;
}

.input_container {
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.input_error_container {
    display: flex;
    align-items: center;
    border: 1px solid $error;

    &:focus {
        outline-color: $error;
    }
}

.spinner_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn_change {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.25rem;
    gap: 0.5rem;
    border: 2px solid black;
    @include hoverAnimation;
    cursor: pointer;

    &:hover {
        background-color: $secondary-text-color;
    }
}